<div class="card edit resizable-window" style="display: @visible;">
    <div class="edit-content resizable-window-content">
        <h5 class="card-header">Edit</h5>
        <div class="card-body">
            @if (EditedTwig.Twig != null)
            {
                <div class="form-group">
                    <button @onclick="Copy" type="button" class="btn btn-link block">Copy</button>
                    <button @onclick="Paste" type="button" class="btn btn-link">Paste</button>
                    <button @onclick="Close" class="btn btn-secondary hide-edit-btn" style="float: right;"><span class="oi oi-minus"></span></button>
                </div>
                <div class="form-group">
                    @if (EditedTwig.Twig.CompletedDate.HasValue)
                    {
                        <div>Completed @EditedTwig.Twig.CompletedDate.Value.ToString()</div>
                    }
                </div>
                <div class="form-group">
                    @if (Latency < LatencyLimitForInstantUpdating && Latency > 0 && WindowDimensions.Mobile == false)
                    {
                        <input @ref="Title" @onfocusout="() => { UpdateTwigInDatabase(); }" @bind="EditedTwig.Twig.Title" @oninput="(e) => { EditedTwig.Twig.Title = (string)e.Value; UpdateEditedTwig(); }" maxlength="50" class="form-control" placeholder="Title" />
                    }
                    else
                    {
                        <input @ref="Title" @onfocusout="() => { UpdateTwigInDatabase(); UpdateEditedTwig(); }" @bind="EditedTwig.Twig.Title" class="form-control" maxlength="50" placeholder="Title" />
                    }
                </div>
                <div class="form-group">
                    <textarea 
                              style="@DescriptionWidth"
                              @ref="Description" 
                              @onmouseup="SaveDescriptionWidth" 
                              @onfocusout="() => { UpdateTwigInDatabase(); UpdateEditedTwig(); }" 
                              @bind="EditedTwig.Twig.Description" 
                              placeholder="Description" 
                              class="form-control" 
                              rows="3" />
                </div>
                <div class="form-group">
                    <input type="datetime-local" class="form-control" @onfocusout="() => TwigsHandler.UpdateTwigDueDate(EditedTwig.Twig)" @bind="EditedTwig.Twig.DueDate" @oninput="@((e) => { SetDueDate((string)e.Value); UpdateEditedTwig(); })" placeholder="Due Date" />
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" @onfocusout="() => UpdateTwigInDatabase()" @bind="EditedTwig.Twig.Priority" @oninput="@((e) => { SetPriority((string)e.Value); UpdateEditedTwig(); })" placeholder="Priority" />
                </div>
                <div id="state" class="form-group">
                    <div class="form-check">
                        @if (EditedTwig.Twig.State == State.NOTSTARTED)
                        {
                            <input @onclick="() => SetState(State.NOTSTARTED)" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        }
                        else
                        {
                            <input @onclick="() => SetState(State.NOTSTARTED)" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                        }
                        <label class="form-check-label" for="exampleRadios1">
                            Not started yet
                        </label>
                    </div>
                    <div class="form-check">
                        @if (EditedTwig.Twig.State == State.INPROGRESS)
                        {
                            <input @onclick="() => SetState(State.INPROGRESS)" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked>
                        }
                        else
                        {
                            <input @onclick="() => SetState(State.INPROGRESS)" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        }
                        <label class="form-check-label" for="exampleRadios2">
                            In Progress
                        </label>
                    </div>
                    <div class="form-check">
                        @if (EditedTwig.Twig.State == State.COMPLETED)
                        {
                            <input @onclick="() => SetState(State.COMPLETED)" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" checked>
                        }
                        else
                        {
                            <input @onclick="() => SetState(State.COMPLETED)" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                        }
                        <label class="form-check-label" for="exampleRadios3">
                            Completed
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger" @onclick="() => ShowConfirmDeletionDialog(true, true)" style="@DeleteButtonVisibility">Remove</button>
                    <button class="btn btn-sm btn-outline-danger" @onclick="DeleteTwig" style="@ConfirmDeletionButtonVisiblity">Delete <strong>@EditedTwig.Twig.Title</strong></button>
                </div>
            }
            else
            {
        <div class="form-group">
            <button @onclick="Copy" type="button" class="btn btn-link block" disabled>Copy</button>
            <button @onclick="Paste" type="button" class="btn btn-link" disabled>Paste</button>
            <button @onclick="Close" class="btn btn-secondary hide-edit-btn" style="float: right;"><span class="oi oi-minus"></span></button>
        </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Title" disabled />
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Description" disabled />
                </div>
                <div class="form-group">
                    <input type="datetime-local" class="form-control" placeholder="Due Date" disabled />
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="Priority" disabled />
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" disabled>
                        <label class="form-check-label" for="exampleRadios1">
                            Not started yet
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" disabled>
                        <label class="form-check-label" for="exampleRadios2">
                            In Progress
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
                        <label class="form-check-label" for="exampleRadios3">
                            Completed
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger" disabled>Remove</button>
                </div>
            }
        </div>
    </div>
</div>
