<div ondragover="event.preventDefault();" @ondragenter="OnDragOver" @ondragleave="OnDragLeave" ondragstart="event.dataTransfer.setData('', event.target.id);" @ondrop="OnDrop" style="@onDragOverHoverEffect">
    <div class="noOverflow @block twig" style="margin-left:@margin;@paddingLeft width:20rem;" title="@title" alt="@title" draggable="true" @ondragend="OnDragEnd" @ondragstart="OnDragStart">
        <div @onclick="OpenForEditting" @ondblclick="AddTwig" class="card @cardStyle mb-3 noOverflow" style="width: 18rem;margin-left:0px;cursor:pointer;">
            <div class="card-body">
                <h5 class="card-title noBottomPaddingMargin block">@Twig.Title</h5>
                <div class="floatRight">
                    <button class="btn @addNewTwigButtonColor add-new-twig-btn" @onclick="AddTwig" @onclick:stopPropagation="true"><span class="oi oi-plus"></span></button>
                    @if (hasChildren)
                    {
                        @if (Twig.ShowChildren)
                        {
                            <button class="btn" @onclick="Collapse" @onclick:stopPropagation="true"><span style="@color" class="oi oi-arrow-bottom"></span></button>
                        }
                        else
                        {
                            <button class="btn" @onclick="Collapse" @onclick:stopPropagation="true"><span style="@color" class="oi oi-arrow-top"></span></button>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
