@page "/tree"
@page "/tree/{TreeIdText}"

@using Data
@using DataAccessLibrary

@inject TwigsHandler TwigsHandler
@inject ProjectsHandler ProjectsHandler
@inject AccountHandler AccountHandler
@inject NavigationManager NavigationManager
@inject TwigsTempStorage TwigsTempStorage
@inject ShareHandler ShareHandler
@inject WindowDimensions WindowDimensions
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

@if (ProjectNotFound)
{
    <div class="alert alert-warning">
        Tree <strong>was not found</strong>, please check your spelling and <a href="/trees" class="alert-link">tree list</a>
    </div>
}
@if (ValidURL == false)
{
    <div class="alert alert-warning">
        The url is <strong>invalid</strong>, the correct form is base URL + /tree/{Tree Id}
    </div>
}

@if (Project != null)
{
    <h5>@Project.Name</h5>
    @if (WindowDimensions.Mobile == false)
    {
        <NestedStructure ProjectId="@Project.Id" Project="@Project" />
        <div class="resizable-window" style="float: right; position:fixed; top:1rem; right:1rem; height: 95%;">
            <div class="resizable-window-content">
                <SearchSort />
                <Edit />
            </div>
        </div>
    }
    else
    {
        <button class="btn @UISettings.PrimaryButton switch-view" @onclick="SwitchViewInMobile">Switch View</button>

        <NestedStructure ProjectId="@Project.Id" Project="@Project" Visible="NestedStructureVisible" />
        <SearchSort Visible="!NestedStructureVisible" />
        <Edit Visible="false" />
    }
}

@code {
    [Parameter]
    public string TreeIdText { get; set; }

    private int TreeId { get; set; }
    public Project Project { get; set; }

    private bool ValidURL { get; set; } = true;
    private bool ProjectNotFound { get; set; } = false;
    private bool RedirectToLogin { get; set; } = false;

    private bool NestedStructureVisible { get; set; } = true;

    protected override void OnInitialized()
    {
        TwigsTempStorage.Tree = this;
    }

    protected async override void OnAfterRender(bool firstRender)
    {
        if (RedirectToLogin)
        {
            RedirectToLoginPage();
        }

        if (firstRender)
        {
            if (AccountHandler.User == null)
            {
                var cookieContent = await LocalStorage.GetItemAsync<string>("QoAOgiNzhb");
                AccountHandler.HandleCookies(cookieContent);
            }

            LoadProject();

            LoadDimensions();
        }
    }

    private async void LoadDimensions()
    {
        await WindowDimensions.MainLayout.AdjustUIBasedOnWindowDimensions();
        InvokeAsync(StateHasChanged);
    }

    private void SwitchViewInMobile()
    {
        NestedStructureVisible = !NestedStructureVisible;
    }

    private void RedirectToLoginPage()
    {
        NavigationManager.NavigateTo("/login");
    }

    protected override void OnParametersSet()
    {
        int treeId;
        bool success = Int32.TryParse(TreeIdText, out treeId);

        if (success)
        {
            TreeId = treeId;
        }
        else
        {
            ValidURL = false;
        }
    }

    private void LoadProject()
    {
        if (AccountHandler.User == null)
        {
            RedirectToLogin = true;
            return;
        }
        if (ValidURL == false)
        {
            return;
        }

        Project = GetProject();
        if (Project == null)
        {
            ProjectNotFound = true;
            return;
        }

        TwigsTempStorage.Twigs = GetTwigs();

        TwigsTempStorage.SortBy = Project.SortBy;

        InvokeAsync(StateHasChanged);
    }

    private List<Twig> GetTwigs()
    {
        return TwigsHandler.GetTwigsOfProject(Project.Id) ?? new List<Twig>();
    }

    private Project GetProject()
    {
        var projects = ProjectsHandler.GetProjectsOfUser(AccountHandler.User.Id);
        if (projects != null)
        {
            if (projects.Count > 0)
            {
                var project = projects.Where(o => o.Id == TreeId).ToList().FirstOrDefault();
                if (project != null) return project;
            }
        }

        var collaborations = ShareHandler.GetCollaborations(TreeId);
        if (collaborations == null) return null;
        if (collaborations.Count == 0) return null;

        if (collaborations.Where(o => o.UserId == AccountHandler.User.Id).ToList().Count > 0)
        {
            return ProjectsHandler.GetProject(TreeId).ToList().FirstOrDefault();
        }

        return null;
    }
}
