@page "/trees"

<NewTree Parent="@this" />

<br />

<EditTree @ref="EditTree" />

<br />

<h5>Trees</h5>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Created</th>
            <th>Last Opened</th>
            <th>Open</th>
            <th>Preferences</th>
            <th>Share</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Projects)
        {
            <tr>
                <td>
                    <ProjectWarning ProjectDueDateInfo="GetProjectDueDateInfo(project)" />
                    @project.Name
                </td>
                <td>@project.DateCreated.ToShortDateString() @project.DateCreated.ToShortTimeString()</td>
                <td>@project.LastOpened.ToShortDateString() @project.LastOpened.ToShortTimeString()</td>
                <td><HxButton Color="ThemeColor.Secondary" Spinner="null" Outline="true" OnClick="() => OpenProject(project.Id)">Open</HxButton></td>
                <td><HxButton Color="ThemeColor.Secondary" OnClick="() => OpenProjectPreferences(project)"><span class="oi oi-wrench"></span></HxButton></td>
                <td><HxButton Color="ThemeColor.Secondary" OnClick="() => Share(project)"><span class="oi oi-share"></span></HxButton></td>
            </tr>
        }
    </tbody>
</table>
